:root {
  --color-light: #F6F1E8;
  --color-dark: #2D241F;
  --color-primary: #B08A52;
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-dark);
}

.bg-light {
  background: var(--color-light);
}

.bg-dark {
  background: var(--color-dark);
}

.list-reset{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* HEADER + NAV */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 2rem;
  background: var(--color-dark);
  color: var(--color-light);
}
.brand {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.brand h1 {
  margin: 0;
}
.header-right {
  display: flex;
  gap: 3rem;
}
.nav-list {
  display: flex;
  gap: 0.7rem;
  margin: 0;
  padding: 0;
}
.header-tools {
  display: flex;
  gap: 0.7rem;
  margin: 0;
  padding: 0;
}
.btn {
  color: inherit;
  background: var(--color-primary);
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  line-height: 1;
  border-radius: .3rem;
  letter-spacing: 0.08rem;
}

.btn:hover {
  color: var(--color-dark);
  background: var(--color-light);
}

/* FOOTER */



